.text-field{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.label-item{
    margin-left: 5px;
}

.submit-button {
    margin-left: 5px;
    padding: 4px;
    background-color: mediumpurple;
}

.hover-color:hover {
    background-color: gold;
}

.search-item {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
}

.search-button {
    margin-left: 5px;
    background-color: pink;
    padding: 4px;
}