.text-field{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.label-item{
    margin-left: 5px;
    font-style: italic;
}

.submit-button {
    margin-left: 5px;
    padding: 4px;
    background-color: deepskyblue;
}